.section-card {
    width: 80%;
    margin: auto;
}
.section-card h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.card-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
}
.card-contain > div {
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    padding: 30px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.dinder {
    box-shadow: inset 12px 20px 30px #01ACFD;
}

.icons-les-gat {
    margin: 90px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.icon {
    border-radius: 50px;
    background-color: orange;
    padding: 18px 22px;
    color: #fff;
}
.stories {
    background: url('B11-A2-Kids-School/assets/bg.png') center center/cover;
}
.stories h2 {
    font-weight: 500;
    font-size: 3rem;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}
.stories-store {
    display: flex;
    gap: 25px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
}
.toddler-contain {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.main-store- {
    width: 550px;
    background-color: rgba(128, 128, 128, 0.1);
}
.main-store- h3 {
    padding: 20px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
}
.main-store- p {
    padding: 20px;
    color: #434343;
    font-weight: 500;
    line-height: 1.4;
}
.card-btn {
    font-family: "Macondo", serif;
    cursor: pointer;
    font-size: 17px;
    padding: 12px 25px;
    border-radius: 20px;
    border: none;
    background-color: #01ACFD;
    color: #fff;
    position: relative;
    top: -25px;
    left: 40px;
    font-weight: 500;
}
.toddler-item {
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.1);
}
.toddler-item h4 {
    font-size: px;
    padding: 10px 20px;
    line-height: 1.6;
}
/*  */
.toddle-img {
    
}
.toddle-img img {
    
    border-radius: 15px;
}
.green-cl {
    background-color: #95B226;
}
.blue-cl {
    background-color: #5D58F0;
}
.sids-git-prtch {
    width: 100%;
}
.sids-git-prtch img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.button-black {
    text-align: center;
    margin: 50px;
}
.btn-black {
    padding: 15px 45px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    background-color: black;
    color: #fff;
    transition: all .16s ease;
}
.btn-black:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
/* footer-content */
footer {
    color: #fff;
    background-color: #01ACFD;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    width: 80%;
    margin: 0 auto;
    
    align-items: center;
}
/* style  style*/
.footer-kids {

    margin-bottom: 40px;
    margin-right: 44px;
}
.footer-content > * {
    flex: 1;
}
.kids-img-foot {
    
}
.kids-img {
    margin-bottom: 40px;
    display: flex;
    gap: 10px;
}
.kids-img h3 {
    font-size: 2rem;
}

.footer-about{

}
.list-item li {
    list-style: none;
    padding: 15px 0;
    cursor: pointer;
}
.footer-keep h3 {
    padding: 20px 0;
}
.footer-img-end {
    display: flex;
    gap: 10px;
}


@media screen and (max-width: 800px) {
    .footer-content {
        flex-direction: column;
    }
}

@media screen and (max-width: 850px) {
    .main-store- {
        display: none;
    }
    .toddler-contain {
        margin: 40px auto;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .toddler-item {
        width: 292px;
    }
    .icons-les-gat {
        display: none;
    }
}
